@media (Max-Width:430px){
    body{
        background-image: url(../img/loop\ video.gif);
        /* background-image: none; */
        /* background-color: #314a69; */
        background-color: #385968bb;
        text-align: center;
        /* margin-bottom: 500px; */
        height: 2000px; 
        background-repeat: repeat-y;
        /* background-size: cover;*/
        background-position: center;
        /* background-repeat: no-repeat; */ */
    }
    .navegar .logo{
        display: block;
        /* padding: 10px; */
        text-align: center;
        height: 20px;
        
    }
    .navegar nav{
        float: none;
        
      
    }
    .navegar ul li{
        display: inline-block;
        padding: 5px;
        
        
    }
    .navegar ul li a{
        color: white;
        text-decoration: none;
       border: 0px;
       padding: 10px;
       text-decoration: underline;
    }
    main .notebooks{
        height: 800px;
        margin-bottom: 800px;
    }
    main .notebook p{
        /* display: inline-block; */
        /* width: 30%; */
        text-align: justify;
        padding: 10px;
        border-radius: 20px;
       
        display: inline-block;
        background-color: rgba(255, 255, 255, 0.192);
        
        
    }
    main .notebook .lenovo p{
        color: red;
    }
    /* main .notebook .Acer img{
        margin-right: 150px;
    }  */
    main .notebook .acer-p{
       
      background-color: #38596800;
    }
    main .notebook .lenovo-p{
                    background-color: rgba(255, 255, 255, 0);
    }
    main .notebook .dell-p{
        background-color: rgba(255, 255, 255, 0);
    }
    main .notebook .acer-promocao{
        background-color: rgba(255, 255, 255, 0.349);
        border-radius: 20px;
        margin-bottom: 20px;
    }    
    main .notebook .dell-promocao{
        background-color: rgba(255, 255, 255, 0.349);
        border-radius: 20px;
        margin-bottom: 20px;
    }
    main .notebook .lenovo-promocao{
        background-color: rgba(255, 255, 255, 0.349);
        border-radius: 20px;
        margin-bottom: 20px;
    }
    main  .notebook .Legion-promocao{
        /* background-color: white; */
        
    }
    main .notebook .Legion img{
        width: 130px;
        height: 130px;
        /* margin-right: 150px; */
    }
   main .notebook .Legion-promocao{
    background-color: rgba(255, 255, 255, 0.349);
    border-radius: 20px;
    
   }
    main .notebook .legion-p{
        background-color: #38596800;
    }
    main .pc-avenda{
        background-color: white;
    }
    footer{
        background-color: #232F3E;
     
     
      /* height: 650px; */
      /* margin-top: 350px; */
      /* margin-bottom: 50px; */
      display: inline-block;
      /* background-size: cover; */ 
    }
    footer .redes-social{
        font-size: 40px;
       list-style: none;
       display: block;
       /* margin-bottom: 30px; */
       
    
    }
    footer .redes-social ul li{
        padding: 5px;
        display: inline-block;
    }
}
   
   
   
